@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yagiza;
  src: url("fonts/YAGIZA__.TTF") format("truetype");
}

@font-face {
  font-family: Popstar;
  src: url("fonts/POPSTAR.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
  overflow-x: hidden; 
}

body {
  color: var(--foreground);
  background: #0a0a0a;
  font-family: Yagiza;
  position: relative;
  overflow-x: hidden; 
  height: 100%;
}

.contentContainer {
  width: auto;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  z-index: 10;
  position: relative;
}

.contentContainer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 60%; 
  min-height: 100%;
  height: auto;
  background-color: #0a0a0a;
  z-index: -1; 
  border-radius: 20px; 
}

.slidingTextBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}

.slidingTextRow {
  text-shadow: 2px 2px 5px rgb(255, 255, 255, 0.5);
  font-size: 5rem;
  white-space: nowrap;
  display: flex; 
  margin-bottom: 10px;
  color: rgb(255, 255, 255, 0.5);
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.slidingTextRow:nth-child(odd) {
  animation-name: slideLeftToRight;
  justify-content: flex-end;
}

.slidingTextRow:nth-child(even) {
  animation-name: slideRightToLeft;
}

.slidingTextRow span {
  display: inline-block;
  padding-right: 50px; 
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(100%); 
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(1%); 
  }
  100% {
    transform: translateX(-100%);
  }
}

.circle {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s linear;
  z-index: 9999;
}

.trail {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.2s ease-out, opacity 0.5s ease-out;
  z-index: 9998;
}

.icon {
  width: 10rem;
  height: 9rem;
  margin-top: 2rem;
}

.homeNavbar {
  width: 45%;
  height: 3rem;
  border: 1px solid;
  border-color:#535353;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

.navbarElement {
  font-family: Yagiza;
  font-size: 0.8rem;
  width: 25%;
  border: 1px solid;
  border-color:#535353;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color, width 0.3s ease;
}

.navbarElement:hover {
  background-color: #ededed;
  color:red;
  width: 26.5%;
}

.pageContainer {
  width:100%;
  padding-bottom: 1rem;
}

.grid-container {
  display: flex;
  gap: 1rem;
  width: 55%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  transition: display 0.3s ease;
}

.grid-container.contentPage {
  gap: 0;
}

.grid-body {
  display:flex;
  gap: 4rem;
  flex-direction: column;
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeIn 0.5s ease-out forwards;
  padding-top: 2rem;
}

.proprietary-container {
  font-family: Popstar;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 5rem;
  max-height: 10000px;
  border: 1px solid;
  border-color: #adadad;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.proprietary-container.header {
  font-family: Yagiza;
  width: 100%;
  display: flex;
  align-items:center;
  color:black;
  background-color: beige;
  border-radius: 5px 5px 0px 0px;
  /* opacity: 0; */
  /* transform: translateY(1rem); */
  /* animation: fadeIn 0.5s ease-out forwards; */
}

.proprietary-container.header h3 {
  opacity: 0;
  animation: fadeInOnly 0.5s ease-out forwards;
}

@keyframes fadeInOnly {
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.proprietary-container h1 {
  font-size: 1.3rem;
  position: relative;
}

.proprietary-container.smallDescription {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeIn 0.5s ease-out forwards;
  transition: height 1s ease-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.proprietary-container.smallDescription h1 {
  font-size: 1.3rem;
  position: relative;
}

.proprietary-container.smallDescription h1::after {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  position: absolute;
  bottom: 100%;
  left: 0%;
  padding: 0.5rem;
  background-color: #333;
  color: white;
  border-radius: 0.5rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.proprietary-container h1:hover::after {
  opacity: 1;
}

.proprietary-container h2 {
  font-family:'Courier New', Courier, monospace;
}

.proprietary-container.header h3 {
  font-size: 2rem;
  position: relative;
}

.proprietary-container h4 {
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 0.8rem;
}

.proprietary-container p {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hidden {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  max-height: 1000px; /* A value larger than the content's height */
  pointer-events: all;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.projectNavbar {
  width: 100%;
  height: 2rem;
  border: 1px solid;
  border-radius: 1;
  border-color: #adadad;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-0.5rem);
  opacity: 0;
  animation: fadeInBottom 0.5s ease-in-out forwards;
}

.projectNavbar.selector {
  font-family: Popstar;
  font-size: 0.8rem;
  width: 25%;
  height: 1rem;
  border: 1px solid;
  border-color:#535353;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color, width 0.3s ease;
  padding: 1rem;
}

.projectNavbar.selector:hover {
  background-color: #ededed;
  color:red;
  width: 26.5%;
}

@keyframes fadeInBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.imageNameContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageNameContainer img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
  /* border: 1px solid;
  border-color: beige; */
}

.imageTextContainer {
  position: relative;       
  background-color: rgba(0, 0, 0); 
  color: white;
  padding: 1rem 1rem;     
  /* border-radius: 4px;       */
  font-size: 1rem;
  font-weight: bold;
  z-index: 10;     
  /* margin-bottom: -5rem;
  margin-left: -1rem;         */
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 0.5rem;
  text-align: end;
  /* border: 1px solid; */
  border-radius: 1;
  border-color: #adadad;
}

.imageTextContainer h1{
  font-size: 1.2rem;
}
.imageTextContainer h2 {
  font-family: Popstar;
  font-size: 1rem;
}

.row-Informatica {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0a0a0a;
  padding: 1rem;
  /* border-radius: 1rem;
  border: 1px solid;
  border-color: white; */
}

.row-textContainer {
  font-family: Popstar;
  font-size: 1rem;
  color: white;
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  /* border: 1px solid; */
  border-color: white;
}

.row-textContainer h1 {
  font-family: Yagiza;
}

.icon-marquee-container {
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 100%;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

.marquee {
  display: flex;
  gap: 4rem;
  animation: scroll 20s linear infinite;
}

.marquee img {
  width: auto;
  object-fit: contain;
  height: 5rem;
  transition: width, height 0.3 ease;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .marquee-container {
    height: 100px;
  }

  .marquee img {
    height: 100%;
  }

  .marquee {

    gap: 2rem;
  }
}

.thrdImageContainer {
  position: relative;
  width: 50%;
  height: auto; /* Or any height based on your layout */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  overflow: visible;
}

.thrdImageContainer img {
  position: relative;
  border-radius: 1rem;
  transition: height 1s ease;
  border: 2px solid;
  border-color: beige;
}


.thrdImageOne {
  position: relative;
  top: -1rem;
  left: 0;
}

.thrdImageOne img {
  width: 24rem;
  height: 15rem;
  transition: height 0.3s ease-in, width 0.3s ease-in;
}

.thrdImageOne img:hover {
  width: 25rem;
  height: 16rem;
}

.thrdImageTwo {
  position: relative;
  top: 1rem;
}

.thrdImageTwo img {
  width: 18rem;
  height: 15rem;
}

.thrdImageTwo img:hover {
  width: 19rem;
  height: 16rem;
}

.expandContent1 {
  display: none;
  opacity: 0;
  transition: opacity 0.5 ease-in;
}

.expandContent1.visible {
  display: block;
  opacity: 1;
}

.expandContentImages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.expandContentImages1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.expandContentImages1 img {
  width: 40rem;
  height: 20rem;
}

.expandContentImages img {
  width: 10rem;
  height: 20rem;
}

.articleBody {
  padding: 1rem;
  /* border: 1px solid;
  border-top-style: hidden;
  border-color: beige;
  border-radius: 0rem 0rem 1rem 1rem; */
}

.articleBody h1 {
  font-family: Popstar;
}

.articleBody h2 {
  font-family:'Courier New', Courier, monospace;
}

.articleBody h3 {
  font-family: 'Courier New', Courier, monospace; 
  justify-self:center;
  font-size: 1rem;
  font-style: italic;
  color: #c0c0c0;
}

.readmoreClick1 {
  color:red;
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace; 
}

.red-text {
  color:red;
}

.imageUneven {
  width: 20rem;
  height: 15rem;
  justify-self: center;
}

@media screen and (max-width: 768px) {

  .slidingTextBackground {
    display: none;
  }

  .contentContainer::before {
    width: 100%
  }

  .icon {
    width: 5rem;
    height: 4rem;
  }

  .grid-header h2 {
    font-size: 0.8rem;
  }
  
  .homeNavbar {
    flex-direction: row;
    height: auto;
    width: 90%;
    padding: 0.6rem;
    height: 2rem;
  }

  .navbarElement {
    font-size: 0.5rem;
  }

  .navbarElement:hover {
    background-color: #ededed;
    color:red;
    width: 40%;
  }

  .grid-container {
    width: 90%
  }

  .proprietary-container.header {
    height: 5rem;
    justify-content: center;
  }

  .proprietary-container.header h3 {
    font-size: 1rem;;
  }
  
  .projectNavbar.selector {
    font-size: 0.6rem;
    height: 0.8rem;
  }

  .proprietary-container.smallDescription h1 {
    font-size: 1rem;
  }

  .proprietary-container.smallDescription h2 {
    font-size: 0.8rem;
  }

  .imageNameContainer {
    flex-direction: column-reverse;

  }

  .imageNameContainer img {
    width: 20rem;
    height: 10rem;
  }
  
  .imageTextContainer {
    text-align: center;
    width: 80%;
  }
  
  .grid-body {
    padding-top: 0rem;
    gap: 1rem;
  }

  .imageTextContainer h1 {
    font-size: 1rem;
  }

  .imageTextContainer h2 {
    font-size: 0.8rem;
  }

  .row-textContainer {
    text-align: center;
    width: 80%;
  }

  .row-textContainer h1 {
    font-size: 1rem;
  }

  .row-textContainer h2 {
    font-size: 0.8rem;
  }

  .row-Informatica {
    flex-direction: column;
  }

  .row-Informatica:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .icon-marquee-container {
    width: 80%;
  }

  .marquee img {
    height: 3rem;
  }

  .thrdImageContainer {
    width: 90%;
    padding-top: 1rem;
  }

  .thrdImageOne img {
    width: 10rem;
    height: 9rem;;
  }

  .thrdImageTwo img {
    width: 10rem;
    height: 9rem;
  }

  .expandContentImages img {
    width: 25rem;
    height: 15rem;
  }

  .expandContentImages1 img {
    height: 15rem;
  }


}

@media (max-width: 375px) {
  .expandContentImages img {
    width: 25rem;
    height: 10rem;
  }

  .expandContentImages1 img {
    height: 10rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .expandContentImages img {
    width: 25rem;
    height: 20rem;
  }

  .expandContentImages1 img {
    height: 20rem;
  }
}

@media (min-width: 1024px) and (max-width: 1026px) {

  .navbarElement {
    font-size: 0.7rem;
  }

  .homeNavbar {
    width: 55%;
    height: 3rem;
    padding: 0.5rem;
  }

  .grid-body {
    gap: 1rem;
  }

  .imageNameContainer img {
    width: 20rem;
    height: 10rem;
  }

  .imageTextContainer h1 {
    font-size: 1rem;
  }

  .imageTextContainer h2 {
    font-size: 0.8rem;
  }

  .row-textContainer h1 {
    font-size: 1rem;
  }

  .row-textContainer h2 {
    font-size: 0.8rem;
  }

  .icon-marquee-container {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  }

  .marquee {
    flex-direction: column-reverse;
    animation: scroll-down 10s linear infinite;
    height: 15rem;
    gap: 2rem;
  }

  .thrdImageOne img {
    width: 10rem;
    height: 9rem;
  }

  .thrdImageTwo img {
    width: 10rem;
    height: 8rem;
  }

  @keyframes scroll-down {
    0% {
      transform: translateY(0%); /* Start just above the visible area */
    }
    100% {
      transform: translateY(100%); /* Move just below the visible area */
    }
  }

}